In [1]:
import pandas as pd
import os
import shutil

ModuleNotFoundError: No module named 'pandas'

In [4]:
DS_PATH = 'dataset'

In [9]:
csv_path = os.path.join(DS_PATH, 'Test.csv')
dir_path = os.path.join(DS_PATH, 'Test')
new_dir_path = os.path.join(DS_PATH, 'TestR')

In [35]:
df = pd.read_csv(csv_path)

In [36]:
df

       Width  Height  Roi.X1  Roi.Y1  Roi.X2  Roi.Y2  ClassId            Path
0         53      54       6       5      48      49       16  Test/00000.png
1         42      45       5       5      36      40        1  Test/00001.png
2         48      52       6       6      43      47       38  Test/00002.png
3         27      29       5       5      22      24       33  Test/00003.png
4         60      57       5       5      55      52       11  Test/00004.png
...      ...     ...     ...     ...     ...     ...      ...             ...
12625     42      41       5       6      37      36       12  Test/12625.png
12626     50      51       6       5      45      46       33  Test/12626.png
12627     29      29       6       6      24      24        6  Test/12627.png
12628     48      49       5       6      43      44        7  Test/12628.png
12629     32      31       6       5      27      26       10  Test/12629.png

[12630 rows x 8 columns]

In [37]:
classes = df.ClassId.unique()

In [38]:
classes

array([16,  1, 38, 33, 11, 18, 12, 25, 35,  7, 23,  4,  9, 21, 20, 27,  3,
       13, 10,  5, 17, 34,  2,  8, 30, 24, 15, 26, 28, 22, 14, 32, 29,  6,
       36, 40, 41, 31, 19,  0, 39, 42, 37])

In [39]:
os.makedirs(new_dir_path, exist_ok=True)

for cls in classes:
    os.makedirs(os.path.join(new_dir_path, str(cls)), exist_ok=True)

In [43]:
for image in os.listdir(dir_path):
    source = os.path.join(dir_path, image)
    t_dir = df[df['Path'] == 'Test/' + image].ClassId.values[0]
    dest = os.path.join(new_dir_path, str(t_dir))
    shutil.copyfile(source, os.path.join(dest, image))